<div class="w-full pb-6 px-4 rounded-b-3xl shadow-2xl bg-white border-b border-stone-100">
  
  <div class="grid grid-cols-7 gap-2 px-1 mb-2 text-center">
    @for (name of weekDayNames(); track name) {
      <span class="text-[10px] font-bold uppercase tracking-wider text-stone-400">
        {{ name }}
      </span>
    }
  </div>

  <div 
    (touchstart)="handleTouchStart($event)"
    (touchend)="handleTouchEnd($event)"
    [ngClass]="{
      'flex justify-between px-2': viewMode() === 'week',
      'grid grid-cols-7 gap-y-4 gap-x-2': viewMode() === 'month'
    }"
    class=" px-1 select-none transition-all duration-500">
    
    @if (viewMode() === 'month') {
      @for (p of monthPaddingDays(); track $index) {
        <div class="w-9 h-9"></div>
      }
    }

    @for (day of days(); track day.fullDate.getTime()) {
      <div 
        class="flex flex-col items-center gap-2 cursor-pointer transition-all"
        [ngClass]="viewMode() === 'week' ? 'w-10' : 'w-full'"
        (click)="selectDay(day)">
        
        <div class="w-9 h-9 flex items-center justify-center text-sm font-bold rounded-full transition-all duration-300"
             [ngClass]="getNumberClasses(day)">
          {{ day.date }}
        </div>

        <div class="w-1.5 h-1.5 rounded-full" [ngClass]="getStatusClasses(day)"></div>
      </div>
    }
  </div>
</div>