<div class="bg-white rounded-3xl p-6 shadow-xl border border-stone-100 relative overflow-hidden mb-6">

    <app-intake-progress-widget 
    [consumed]="(proteinEated()*4) + (carbsEated()*4) + (fatsEated()*9) - burnedKcals() "
     [minA]="minA()" [goalB]="targetGoal()" [maintC]="maintC()">
    </app-intake-progress-widget>

    <div class="flex justify-center items-center mb-2 md:-mt-12 -mt-2">
        <p-chart type="doughnut" [data]="macroData()" [options]="macroOptions"
            class="md:w-48 md:h-48 w-22 h-22"></p-chart>
    </div>

    <div class="grid grid-cols-3 gap-4">

        <div class="flex flex-col items-center">
            <div class="flex items-baseline h-8">
                <span class="text-xl font-black text-gray-600 tracking-tighter tabular-nums me-1">
                    {{ proteinEated() }}
                </span>
                <span class="text-xl font-bold text-stone-300">/</span>
                <span class="text-module-intake font-black text-md">{{ proteinGoal() }}g</span>
            </div>
            <span class="text-[9px] text-awakin-stone uppercase font-bold tracking-wider">Proteína</span>
            <div class="w-8 h-1 rounded-full bg-module-intake mt-1 opacity-50 transition-all duration-500"></div>
        </div>

        <div class="flex flex-col items-center px-2">
            <div class="flex items-baseline h-8">
                <span class="text-xl font-black text-gray-600 tracking-tighter tabular-nums me-1">
                    {{ carbsEated() }}
                </span>
                <span class="text-xl font-bold text-stone-300">/</span>
                <span class="text-awakin-sun font-black text-md">{{ carbsGoal() }}g</span>
            </div>
            <span class="text-[9px] text-awakin-stone uppercase font-bold tracking-wider">Carbos</span>
            <div class="w-8 h-1 rounded-full bg-awakin-sun mt-1 opacity-50 transition-all duration-500"></div>
        </div>

        <div class="flex flex-col items-center">
            <div class="flex items-baseline h-8">
                <span class="text-xl font-black text-gray-600 tracking-tighter tabular-nums me-1">
                    {{ fatsEated() }}
                </span>
                <span class="text-xl font-bold text-stone-300">/</span>
                <span class="text-module-avatar font-black text-md">{{ fatsGoal() }}g</span>
            </div>
            <span class="text-[9px] text-awakin-stone uppercase font-bold tracking-wider">Grasas</span>
            <div class="w-8 h-1 rounded-full bg-module-avatar mt-1 opacity-50 transition-all duration-500"></div>
        </div>
    </div>

    <div class="relative w-full flex justify-center items-center overflow-visible px-2 pt-4 flex-col">
        <svg class="z-2" width="1" height="35" viewBox="0 0 1 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.5" x2="0.5" y2="34.5455" stroke="#93918B" stroke-dasharray="2 2" />
        </svg>

        <svg viewBox="0 0 320 80" class="absolute top-3 drop-shadow-sm gap-2 flex pb-2"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M3.00098 3.00085C3.00098 3.00085 78.2732 28.8145 159.607 28.9099C241.377 29.0059 316.213 3.00082 316.213 3.00082"
                stroke="#FE970A" stroke-width="7" stroke-linecap="round" fill="none" />
        </svg>
        <svg viewBox="0 0 320 80" class="absolute top-1 drop-shadow-sm gap-2 flex pb-2"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M3.00098 3.00085C3.00098 3.00085 78.2732 28.8145 159.607 28.9099C241.377 29.0059 316.213 3.00082 316.213 3.00082"
                stroke="#F51212" stroke-width="6" stroke-linecap="round" fill="none" />
        </svg>
    </div>

    <div class="flex justify-between items-center px-2">
        <div class="flex flex-col items-start">
            <span class="text-[8px] font-black text-stone-400 uppercase tracking-widest">Eated (kcal)</span>
            <div class="flex items-baseline gap-1">
                <span class="text-lg font-black text-gray-800 tabular-nums tracking-tighter">{{ (proteinEated()*4) + (carbsEated()*4) + (fatsEated()*9) }}</span>
                <div class="w-1.5 h-1.5 rounded-full bg-module-intake/20 border border-module-intake/40"></div>
            </div>
        </div>

        <div class="flex flex-col items-end">
            <span class="text-[8px] font-black text-stone-400 uppercase tracking-widest">Burned (kcal)</span>
            <div class="flex items-baseline gap-1">
                <div class="w-1.5 h-1.5 rounded-full bg-awakin-sun/20 border border-awakin-sun/40"></div>
                <span class="text-lg font-black text-gray-800 tabular-nums tracking-tighter">{{ burnedKcals() }}</span>
            </div>
        </div>
    </div>

</div>