/* Ajustes para el nuevo p-select en modo "Fantasma" */
/* .p-select.border-none {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
} */

/* .p-select.border-none .p-select-label {
    padding: 0 !important;
} */

