<div class="">
  <div class="flex justify-between items-center mb-8">
    <div class="flex items-center gap-3">
      <div
        class="w-10 h-10 rounded-xl bg-stone-100 border border-stone-200 flex items-center justify-center overflow-hidden shadow-sm">
        <span class="text-stone-400 font-black text-xs">KIN</span>
      </div>
      <div class="flex flex-col">
        <span class="text-[8px] font-black tracking-[0.2em] text-stone-400 uppercase leading-none mb-1">Your Tribe</span>
        <h3 class="text-sm font-black text-gray-900 uppercase tracking-tight">Alpha Kin</h3>
      </div>
    </div>
  
    <div class="flex flex-col items-end">
      <span class="text-[8px] font-black tracking-[0.2em] text-stone-400 uppercase leading-none mb-1.5">Prótocolo Actual
       </span>
      <div [class]="getProtocolClass()"
        class="px-3 py-1.5 rounded-full border flex items-center gap-2 shadow-sm transition-all duration-500">
        <div class="w-1.5 h-1.5 rounded-full animate-pulse" [style.backgroundColor]="getProtocolColor()"></div>
        <span class="text-[10px] font-black uppercase tracking-widest">{{ getProtocolName() }}</span>
      </div>
    </div>
  </div>
  
  
 
<div class="text-center flex flex-col items-center z-10 select-none mb-4" (click)="toggleDisplay()">

  <div
    class="bg-stone-50/50 backdrop-blur-xl px-5 py-2 rounded-xl shadow-[inset_0_2px_6px_rgba(0,0,0,0.08)] border border-stone-200/60 flex flex-col items-center min-w-[140px] transition-all active:scale-95 cursor-pointer">

    <span class="text-[7px] font-black text-stone-400 uppercase tracking-[0.3em] leading-none mb-1.5 transition-all">
      {{ showTotalMode() ? 'Tu progreso' : 'Te falta' }}
    </span>

    <div class="flex items-baseline gap-1 h-10">
      @if (!showTotalMode()) {
      <span
        class="text-3xl font-black text-[var(--color-awakin-sun)] tracking-tighter tabular-nums drop-shadow-[0_1px_2px_rgba(254,151,10,0.1)]">
        {{ (goalB() - consumed()) > 0 ? (goalB() - consumed()) : 0 }}
      </span>
      } @else {
      <div class="flex items-baseline gap-1 h-10">
        <span class="text-2xl font-black text-gray-800 tracking-tighter tabular-nums">
          {{ consumed() }}
        </span>
        <span class="text-sm font-bold text-stone-300">/</span>
        <span class="text-sm font-black text-stone-400 tracking-tighter">
          {{ goalB() }}
        </span>
      </div>
      }
      <span class="text-[9px] font-black text-stone-400 opacity-60 uppercase">kcal</span>
    </div>

    <div class="flex gap-1 mt-2">
      <div class="w-1.5 h-1 rounded-full transition-all duration-300"
        [class]="!showTotalMode() ? 'bg-[var(--color-awakin-sun)] w-3' : 'bg-stone-200'"></div>
      <div class="w-1.5 h-1 rounded-full transition-all duration-300"
        [class]="showTotalMode() ? 'bg-[var(--color-awakin-sun)] w-3' : 'bg-stone-200'"></div>
    </div>
  </div>
</div>

  <div class=" w-full flex justify-center items-end overflow-visible px-2">
  
    <svg viewBox="0 0 277 50" class="overflow-visible w-full h-auto max-w-full drop-shadow-sm"
      xmlns="http://www.w3.org/2000/svg">
    
      <path #trackPath
        d="M2.50049 29.5002C2.50049 29.5002 67.8684 7.08312 138.5 7.00023C209.511 6.91689 274.5 29.5002 274.5 29.5002"
        fill="none" stroke="#F5F5F4" stroke-width="5" stroke-linecap="round" />
    
      <path d="M2.50049 29.5002C2.50049 29.5002 67.8684 7.08312 138.5 7.00023C209.511 6.91689 274.5 29.5002 274.5 29.5002"
        fill="none" stroke="var(--color-awakin-sun)" stroke-width="6" stroke-linecap="round"
        [attr.stroke-dasharray]="progressStroke()" class="transition-all duration-1000 ease-out" />
    
      <g [attr.transform]="getMarkerTransform(minA())" class="transition-all duration-700">
        <rect x="-1" y="-2" width="2" height="14" rx="1" fill="#D6D3D1" />
        <text x="0" y="24" text-anchor="middle" fill="#A8A29E"
          class="text-[7px] font-black uppercase tracking-tighter">TBM</text>
      </g>
    
      <g [attr.transform]="getMarkerTransform(goalB())" class="transition-all duration-700">
        <rect x="-1" y="-2" width="2" height="14" rx="1" fill="var(--color-awakin-sun)" />
        <text x="0" y="24" text-anchor="middle" fill="var(--color-awakin-sun)"
          class="text-[7px] font-black uppercase tracking-tighter">Goal</text>
      </g>
    
      <g [attr.transform]="getMarkerTransform(maintC())" class="transition-all duration-700">
        <rect x="-1" y="-2" width="2" height="14" rx="1" fill="#93918B" />
        <text x="0" y="24" text-anchor="middle" fill="#93918B"
          class="text-[7px] font-black uppercase tracking-tighter">Maint</text>
      </g>
    </svg>
  </div>


</div>